<h2>List of Visitors</h2>


 <%@visitors.each do |visitor|%>
    <p>
        <%= visitor.name%>
        <%= visitor.phone%>
        <%= visitor.datetime%>
        <%= visitor.barber%>
        <%= visitor.color%>
        <hr>
    </p>
<%end%>

<table class="table, table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">datetime</th>
      <th scope="col">barber</th>
      <th scope="col">color</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>MONO</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>